:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #1e1e1e;
    background-color: #c8c8c8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --reka-select-trigger-width: unset;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 360px;
    min-height: 100vh;
}

#app {
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr
        "footer" auto;
    width: 100%;
    min-height: 100vh;
}

#app header {
    grid-area: header;
}
#app main {
    grid-area: main;
}
#app footer {
    grid-area: footer;
}

.contentWrapper {
    max-width: 1200px;
    margin: 48px auto 96px;
    @media (width < 1280px) {
        max-width: none;
        margin-left: 40px;
        margin-right: 40px;
    }
    @media (width < 768px) {
        margin: 24px 24px 48px;
    }
    @media (width < 480px) {
        margin: 12px 12px 24px;
    }
}

.contentWrapperFullWidth {
    padding: 0 calc((100vw - 1200px) / 2);
    @media (width < 1280px) {
        padding: 0 40px;
    }
    @media (width < 768px) {
        padding: 0 24px;
    }
    @media (width < 480px) {
        padding: 0 12px;
    }
}
